<body>
<div class="main">    

<div class="forgotPassword">
    <form [formGroup]="fgPass" (ngSubmit)="onResetPass()">
      <div class="note">
      <label for="chk" aria-hidden="true"><h1>Forgot Password</h1></label>
      
        <h3>Please provide your valid E-mail to get a reset password link.</h3>
      </div>
      <div>
      <input
        type="email"
        name="email"
        placeholder="Enter a valid email"
        required=""
        formControlName="email"
      />
    </div>
      <div
        *ngIf="
          fgPass.get('email')?.invalid &&
          fgPass.get('email')?.errors &&
          fgPass.get('email')?.touched
        "
      >
        <p *ngIf="fgPass.get('email')?.hasError('required')">
          Email is required.
        </p>
        <p *ngIf="fgPass.get('email')?.hasError('email')">
          Enter a valid email.
        </p>
      <!-- </div>
      <div>
      <input
        type="password"
        name="pswd"
        placeholder="New Password"
        required=""
        formControlName="password"
       (click)="emailValid()"
      />
    </div>
     
      <p
        *ngIf="
          !fgPass.get('password')?.valid &&
          fgPass.get('password')?.touched
        "
      >
        Password is required.
      </p>
      <div>
      <input
      type="password"
      name="confirmPassword"
      placeholder="confirm Password"
      required=""
      formControlName="confirmPassword"
      
    />
    </div>

    <div *ngIf="comfirmPasswordMatchBool">
      <p>The password and confirmation password do not match.</p>
    </div>
    <div
      *ngIf="
        l['confirmPassword'].errors &&
        (l['confirmPassword'].touched || l['confirmPassword'].dirty)
      "
      class="invalid-feedback"
    >
      <div *ngIf="l['confirmPassword'].errors['required']">
        <p>Password confirmation required.</p>
      </div>-->
    </div> 
    <div class="container-btn">
      <button type="cancel" style="background-color: darkred;">Close</button>
      <button type="submit" (click)="confirmToSend()"  [disabled]="!this.fgPass.valid" >Send</button>
    </div>
    </form>
  </div>
</div>
</body>
