<div mat-dialog-title>
    <h1>Change Password</h1>
  </div>
  <form [formGroup]="cpForm" (ngSubmit)="onUpdatePassword()">
  <div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Current Password</mat-label>
            <input matInput type="password" formControlName="currentPassword">
          </mat-form-field>
    </div>
    <div
    *ngIf="
      cpForm.get('currentPassword')?.invalid &&
      cpForm.get('currentPassword')?.errors &&
      cpForm.get('currentPassword')?.touched
    "
  >
    <p *ngIf="cpForm.get('currentPassword')?.hasError('required')">
      Email is required.
    </p>
    <p *ngIf="cpForm.get('currentPassword')?.hasError('currentPassword')">
      Enter a valid Current Password.
    </p>
  </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput type="password" (click)="currentPassValid()"  formControlName="newPassword">
      </mat-form-field> </div>
      <p
        *ngIf="
          !cpForm.get('newPassword')?.valid &&
          cpForm.get('newPassword')?.touched
        "
      >
        Password is required.
      </p>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
      </mat-form-field>
      <div *ngIf="comfirmPasswordMatchBool">
        <p>The password and confirmation password do not match.</p>
      </div>
      <div
        *ngIf="
          l['confirmPassword'].errors &&
          (l['confirmPassword'].touched || l['confirmPassword'].dirty)
        "
        class="invalid-feedback"
      >
        <div *ngIf="l['confirmPassword'].errors['required']">
          <p>Password confirmation required.</p>
        </div>
      </div>
    </div>
    
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button color="primary" (click)="openSnackBar()" type="submit" [disabled]="cpForm.invalid">Update Password</button>
  </div>
  </form>
