<body>
  <div class="main">
    <div class="login">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <label for="chk" aria-hidden="true">Login</label>
        <input
          type="email"
          name="email"
          placeholder="Email"
          required=""
          formControlName="email"
        />

        <div
          *ngIf="
            loginForm.get('email')?.invalid &&
            loginForm.get('email')?.errors &&
            loginForm.get('email')?.touched
          "
        >
          <p *ngIf="loginForm.get('email')?.hasError('required')">
            Email is required.
          </p>
          <p *ngIf="loginForm.get('email')?.hasError('email')">
            Enter a valid email.
          </p>
        </div>
        <div class="pass-input">
        <input
          [type]="type"
          name="pswd"
          placeholder="Password"
          required=""
          formControlName="password"
        />
        <i (click)="hideShowPass()" class="fa {{eyeIcon}} pass-icon"></i>
      </div>
        <p
          *ngIf="
            !loginForm.get('password')?.valid &&
            loginForm.get('password')?.touched
          "
        >
          Password is required.
        </p>
        <a routerLink="forgot-password" routerLink="/forgot-password"
          >Forgot Password?</a
        >
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>
    </div>
    <!-- .......Signup Form starts........ -->
    <input type="checkbox" id="chk" aria-hidden="true" />

    <div class="signup">
      <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
        <label for="chk" aria-hidden="true">Sign up</label>
        <input
          type="text"
          name="txt"
          placeholder="User name"
          required=""
          formControlName="userName"
        />
        <div
          *ngIf="
            f['userName'].errors &&
            (f['userName'].touched || f['userName'].dirty)
          "
          class="invalid-feedback"
        >
          <div *ngIf="f['userName'].errors['required']">
            <p>First Name is required</p>
          </div>
        </div>

        <input
          type="email"
          name="email"
          placeholder="Email"
          required=""
          formControlName="email"
        />
        <div
          *ngIf="f['email'].errors && (f['email'].touched || f['email'].dirty)"
          class="invalid-feedback"
        >
          <div *ngIf="f['email'].errors['required']">
            <p>Email is required</p>
          </div>
          <div *ngIf="f['email'].errors['email']">
            <p>Enter a valid email</p>
          </div>
        </div>
        <div *ngIf="emailBool">
          <p>This email already existed.</p>
        </div>

        <div class="phone">
          <p-inputMask
            type="text"
            mask="(99) 999-999"
            placeholder="Phone: (99) 999-999"
            formControlName="phone"
          ></p-inputMask>
          <div
            *ngIf="
              f['phone'].errors && (f['phone'].touched || f['phone'].dirty)
            "
            class="invalid-feedback"
          >
            <div *ngIf="f['phone'].errors['required']">
              <p>Phone is required</p>
            </div>
          </div>
        </div>
        <div class="pass-input">
          <input
            [type]="type"
            name="pswd"
            placeholder="Password"
            required=""
            formControlName="password"
          />
          <i (click)="hideShowPass()" class="fa {{eyeIcon}} pass-icon"></i>
        </div>

        <div
          *ngIf="
            f['password'].errors &&
            (f['password'].touched || f['password'].dirty)
          "
          class="invalid-feedback"
        >
          <div *ngIf="f['password'].errors['required']">
            <p>Password is required</p>
          </div>
          <div *ngIf="f['password'].errors['pattern']">
            <p>
              Password must be of minimum 8 chars and contain numeric & special
              value
            </p>
          </div>
        </div>

        <div class="pass-input">
        <input
          [type]="type"
          name="confirmPassword"
          placeholder="confirm Password"
          required=""
          formControlName="confirmPassword"
          (blur)="passwordMatch()"
        />
        <i (click)="hideShowPass()" class="fa {{eyeIcon}} pass-icon"></i>
      </div>
        <div *ngIf="comfirmPasswordMatchBool">
          <p>The password and confirmation password do not match.</p>
        </div>
        <div
          *ngIf="
            f['confirmPassword'].errors &&
            (f['confirmPassword'].touched || f['confirmPassword'].dirty)
          "
          class="invalid-feedback"
        >
          <div *ngIf="f['confirmPassword'].errors['required']">
            <p>Confirm your Password</p>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="
            signupForm.value.password !== signupForm.value.confirmPassword
          "
        >
          Sign up
        </button>
      </form>
    </div>
    <br />

    <!--..............LOGIN FORM....................-->

   
  </div>
</body>
